<div class="author-thumb">
	<img src="img/avatar1-sm.jpg" alt="author">
</div>
<div class="notification-event">
	<a href="#" class="h6 notification-friend">{{notification.actor.username}}</a> commented on your <a href="#" class="notification-link">Design</a>.
	<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">{{notification.timestamp}}</time></span>
</div>
<span class="notification-icon">
						<svg class="olymp-comments-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
					</span>

<div class="more">
	<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
	<svg class="olymp-little-delete"><use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
</div>