{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}
	<h3>Design By {{ design.user.username }}</h3>
	<h4>Title: {{ design.title }}</h4>
	<p>Uploaded: {{ design.uploaded_at }}
	<img src="{{ design.image.url }}" style="max-width: 300px">
	<p>Description: {{ design.description }}</p>

	<h1>THERE ARE {{design.num_likes}} LIKES!</h1>
	<button id="like">Like </button>
	<ul class="comments">
	{% for comment in comments %}
		<p>{{comment.user.username}} says:</p>
		<p>{{comment.comment}}</p>
	{% endfor %}
	</ul>
	<form method="post">
		{% csrf_token %}
		{{form.as_p}}
		<button type="submit">Submit</button>
	</form>
{% endblock %}

{% block script %}
<script>
//TODO: Jquery POST to my api endpoint for a like
</script>
{% endblock %}