{% extends 'base.html' %}
{% load activity_tags %}

<!-- BODY BLOCK -->
{% block body %}

{% include 'partials/headers-navigations/left-panel.html' %}

{% include 'partials/headers-navigations/left-panel-responsive.html' %}

{% include 'partials/headers-navigations/right-panel.html' %}

{% include 'partials/headers-navigations/right-panel-responsive.html' %}

{% include 'partials/headers-navigations/header-BP.html' %}

{% include 'partials/headers-navigations/header-BP-responsive.html' %}



<div class="container">
	<div class="row">

		<!-- Main Content -->

		<main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">

			<div class="ui-block">
				{% include 'partials/forms/news-feed-form.html' %}
			</div>

			<div id="newsfeed-items-grid">

			{% if stream %}
			<div id="newsfeed-items-grid">
				{% for action in stream %}
				<div class="ui-block">
					<!-- action.actor .target .verb -->
					{% if action.verb == "uploaded a design" %}
						{% include 'partials/posts/designpost.html' %}
					{% else %}
					{% if action.verb == "posted a status" %}
						{% include 'partials/posts/statuspost.html' %}
					{% else %}
						<p>This action contained an unknown verb. Probs a follow.</p>
					{% endif %}
					{% endif %}
					<!-- Show comments -->
					{% if action.target.num_comments %}
							{% include 'partials/comments/comment-list.html' %}
					{% endif %}
					{% include 'partials/forms/comment-form.html' %}
				</div>
				{% endfor %}
			</div>

			<a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid">
				<svg class="olymp-three-dots-icon">
					<use xlink:href="/media/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
				</svg>
			</a>
			{% else %}
			<h3>Nothing to see here yet! Go follow some designers!</h3>
			{% endif %}
			</div>

		</main>

		<!-- ... end Main Content -->


		<!-- Left Sidebar -->

		<aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-12">
			<div class="ui-block">
				{% include 'partials/widgets/w-weather.html' %}
			</div>

			<div class="ui-block">
				{% include 'partials/widgets/w-calendar.html' %}
			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Pages You May Like</h6>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
				</div>

				{% include 'partials/widgets/w-friend-pages-added.html' %}

			</div>
		</aside>

		<!-- ... end Left Sidebar -->


		<!-- Right Sidebar -->

		<aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-12">

			<div class="ui-block">
				{% include 'partials/widgets/w-birthsday-alert.html' %}
			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Friend Suggestions</h6>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
				</div>

				{% include 'partials/widgets/w-friend-pages-added-suggestions.html' %}

			</div>

			<div class="ui-block">

				<div class="ui-block-title">
					<h6 class="title">Activity Feed</h6>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
				</div>

				{% include 'partials/widgets/w-activity-feed.html' %}

			</div>


			<div class="ui-block">

				{% include 'partials/widgets/w-action.html' %}

			</div>

		</aside>

		<!-- ... end Right Sidebar -->

	</div>
</div>


{% include 'partials/windows-popup/update-header-photo.html' %}

{% include 'partials/windows-popup/choose-from-my-photo.html' %}

{% include 'partials/back-to-top.html' %}

{% include 'partials/windows-popup/window-chat-responsive.html' %}


<!-- END BODY BLOCK -->
{% endblock %}


{% block script %}
<script>

$('#like').click(function(){
	var desid = parseInt($(this).closest("article").attr('design-id'));
	var data = {
		"profile": {{user.profile_user.pk}},
		"design" : desid
	}
	console.log(data);
	$.post('/design/api/likedesign', data)
 		.fail(function(xhr, status, error) {
    		alert("Debug: " + xhr.responseText);
  		})
  		.done(function() {
  			// TODO: How to determine on render if liked or not? Can determine toggle from there.
  			alert("Success");
  		});
})

$('#postcomment').click(function() {
	var container = $(this).closest('div.ui-block');
	var posttype = $(container).find('article').attr('design-id')
	var content = $(container).find('form textarea').val();
	var url = '';

	if (typeof posttype !== typeof undefined && posttype !== false) {
		//This is a design
		url = '/design/api/designcomment';
	} else {
		//This is a status
		posttype = $(container).find('article').attr('post-id');
		url = '/design/api/statuscomment';
	}

	if (content == "") { return; }

	var data = {
		'profile': {{user.profile_user.pk}},
		'comment': content,
		'design': posttype,
	};

	$.post(url, data, function(){alert("DEBUG: Successfully posted");})
	.fail(function(xhr, status, error) {
    		alert("Debug: " + xhr.responseText);
  		})

})

</script>
{% endblock %}