{% extends 'base.html' %}


<!-- BODY BLOCK -->
{% block body %}

{% include 'partials/headers-navigations/left-panel.html' %}

{% include 'partials/headers-navigations/left-panel-responsive.html' %}

{% include 'partials/headers-navigations/right-panel.html' %}

{% include 'partials/headers-navigations/right-panel-responsive.html' %}

{% include 'partials/headers-navigations/header-BP.html' %}

{% include 'partials/headers-navigations/header-BP-responsive.html' %}

<div class="header-spacer"></div>


<div class="container">
	<div class="row">

		<!-- Main Content -->

		<main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">

			<div class="ui-block">
				{% include 'partials/forms/news-feed-form.html' %}
			</div>

			<div id="newsfeed-items-grid">

				<div class="ui-block">
					{% include 'partials/posts/posts5-BP.html' %}
				</div>

				<div class="ui-block">

					{% include 'partials/posts/posts6-BP.html' %}
					{% include 'partials/comments/comment-list2.html' %}

					<a href="#" class="more-comments">View more comments <span>+</span></a>

					{% include 'partials/forms/comment-form.html' %}

				</div>

				<div class="ui-block">
					{% include 'partials/posts/posts7-BP.html' %}
				</div>

				<div class="ui-block">
					{% include 'partials/posts/posts8-BP.html' %}
				</div>

				<div class="ui-block">
					{% include 'partials/posts/posts9-BP.html' %}
				</div>

			</div>

			<a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>

		</main>

		<!-- ... end Main Content -->


		<!-- Left Sidebar -->

		<aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-12">
			<div class="ui-block">
				{% include 'partials/widgets/w-weather.html' %}
			</div>

			<div class="ui-block">
				{% include 'partials/widgets/w-calendar.html' %}
			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Pages You May Like</h6>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
				</div>

				{% include 'partials/widgets/w-friend-pages-added.html' %}

			</div>
		</aside>

		<!-- ... end Left Sidebar -->


		<!-- Right Sidebar -->

		<aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-12">

			<div class="ui-block">
				{% include 'partials/widgets/w-birthsday-alert.html' %}
			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Friend Suggestions</h6>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
				</div>

				{% include 'partials/widgets/w-friend-pages-added-suggestions.html' %}

			</div>

			<div class="ui-block">

				<div class="ui-block-title">
					<h6 class="title">Activity Feed</h6>
					<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
				</div>

				{% include 'partials/widgets/w-activity-feed.html' %}

			</div>


			<div class="ui-block">

				{% include 'partials/widgets/w-action.html' %}

			</div>

		</aside>

		<!-- ... end Right Sidebar -->

	</div>
</div>


{% include 'partials/windows-popup/update-header-photo.html' %}

{% include 'partials/windows-popup/choose-from-my-photo.html' %}

{% include 'partials/back-to-top.html' %}

{% include 'partials/windows-popup/window-chat-responsive.html' %}


<!-- END BODY BLOCK -->
{% endblock %}