{% extends 'base.html' %}
{% load activity_tags %}

{% block body %}

<!-- {% include 'partials/headers-navigations/left-panel.html' %}

{% include 'partials/headers-navigations/left-panel-responsive.html' %}

{% include 'partials/headers-navigations/right-panel.html' %}

{% include 'partials/headers-navigations/right-panel-responsive.html' %} -->





{% include 'partials/headers-navigations/top-header-profile.html' %}

<div class="container">
	<div class="row">

		<!-- Main Content -->

		<div class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
			{% if stream %}
			<div id="newsfeed-items-grid">
				{% for action in stream %}
				<div class="ui-block">
					<!-- action.actor .target .verb -->
					{% if action.verb == "uploaded a design" %}
						{% include 'partials/posts/designpost.html' %}
					{% else %}
					{%if action.verb == "posted a status" %}
						{% include 'partials/posts/statuspost.html' %}
					{% else %}
						<p>This action contained an unknown verb. Probs a follow.</p>
					{% endif %}
					{% endif %}
<!-- 					{% display_action action %} -->
				</div>
				{% endfor %}
			</div>

			<a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid">
				<svg class="olymp-three-dots-icon">
					<use xlink:href="/media/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
				</svg>
			</a>
			{% else %}
			<h3>{{profile.user.username}} hasn't posted yet!</h3>
			{% endif %}
		</div>

		<!-- ... end Main Content -->


		<!-- Left Sidebar -->

		<div class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-12">

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Profile Info</h6>
				</div>
				<div class="ui-block-content">

					{% include 'partials/widgets/w-personal-info.html' %}

					{% include 'partials/widgets/w-socials.html' %}

				</div>
			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">{{profile.user.username}}’s Badges</h6>
				</div>
				<div class="ui-block-content">

					{% include 'partials/widgets/w-badges.html' %}

				</div>
			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">My Spotify Playlist</h6>
				</div>

				{% include 'partials/widgets/w-playlist.html' %}

			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Twitter Feed</h6>
				</div>

				{% include 'partials/widgets/w-twitter.html' %}

			</div>


		</div>

		<!-- ... end Left Sidebar -->


		<!-- Right Sidebar -->

		<div class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-12">

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Last Photos</h6>
				</div>
				<div class="ui-block-content">

					{% include 'partials/widgets/w-last-photo.html' %}

				</div>
			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Blog Posts</h6>
				</div>
				<!-- {% include 'partials/widgets/w-blog-posts.html' %} -->

			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Friends (86)</h6>
				</div>
				<div class="ui-block-content">

					<!-- {% include 'partials/widgets/w-faved-pages.html' %} -->

				</div>
			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Favourite Pages</h6>
				</div>

				<!-- {% include 'partials/widgets/w-friend-pages-added.html' %} -->

			</div>

			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">James's Poll</h6>
				</div>
				<div class="ui-block-content">

					<!-- {% include 'partials/widgets/w-pool.html' %} -->

					<a href="#" class="btn btn-md-2 btn-border-think custom-color c-grey full-width">Vote Now!</a>
				</div>
			</div>

		</div>

		<!-- ... end Right Sidebar -->

	</div>
</div>

<!-- {% include 'partials/windows-popup/update-header-photo.html' %}

{% include 'partials/windows-popup/choose-from-my-photo.html' %}

{% include 'partials/windows-popup/playlist-popup.html' %}

{% include 'partials/back-to-top.html' %}

{% include 'partials/windows-popup/window-chat-responsive.html' %} -->


<!-- END OF BODY BLOCK -->
{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
	{% if request.user|is_following:profile.user %}
	$(".unfollow-icon").removeClass('d-none');
	{% else %}
	$(".follow-icon").removeClass('d-none');
	{% endif %}
})

 $("#follow").click(function() {
 	$.get("{% follow_url profile.user %}")

 	if ($(".follow-icon").hasClass('d-none')) {
 		$(".follow-icon").removeClass('d-none')
 		$(".unfollow-icon").addClass('d-none')
 	} else {
 		$(".unfollow-icon").removeClass('d-none')
 		$(".follow-icon").addClass('d-none')
 	}
 })
</script>

{% endblock %}