{% extends 'base.html' %}


{% block head %}
<h1>{{ profile.user.username }}'s Profile</h1>
{% if profile.image %}
<image src="{{ profile.image.url }}" style="max-width:240px">
{%endif%}

{% load activity_tags %}
<!--TODO: Don't redirect to this page, just use AJAX to send a GET request-->
<a href="{% follow_url profile.user %}">
	{% if request.user|is_following:profile.user %}
	Unfollow
	{% else %}
	Follow
	{% endif %}
	</a>
{% endblock %}

{% block body %}
	<h3> Info: </h3>
	<p>Username: {{ profile.user.username }}</p>
	<p>Full Name: {{ profile.user.fist_name }} {{ profile.user.last_name }}</p>
	<p>Email: {{ profile.user.email }}</p>

	<p>City: {{ profile.city }}</p>
	<p>Description: {{ profile.description }}</p>

	<h3> Their Activity </h3>
	<ul>
	{% for action in stream %}
		<li>
	    {% display_action action %}
		</li>
	{% endfor %}
	</ul>

	<h3> {{ profile.user.first_name }}'s Designs </h3>
	{% for post in posts %}
		<p>Posted: {{ post.uploaded_at }}
		<img style="max-width: 300px" src="{{ post.image.url }}">
		<p class="description"> Description: {{ post.description }} </p>
	{%endfor%}
{% endblock %}