<div id="newsfeed-items-grid">

			{% if stream %}
			<div id="newsfeed-items-grid">
				{% for action in stream %}
				<div class="ui-block">
					<!-- action.actor .target .verb -->
					{% if action.verb == "uploaded a design" %}
						{% include 'partials/posts/designpost.html' %}
					{% else %}
					{% if action.verb == "posted a status" %}
						{% include 'partials/posts/statuspost.html' %}
					{% else %}
					{% if action.verb == "shared a design" %}
						{% include 'partials/posts/designpost.html' %}

					{% else %}
						<p>This action contained an unknown verb. Either a follow or a share.</p>
					{% endif %}
					{% endif %}
					{% endif %}
					<!-- Show comments -->
					{% if action.target.num_comments %}
							{% include 'partials/comments/comment-list.html' %}
					{% endif %}
					{% include 'partials/forms/comment-form.html' %}
				</div>
				{% endfor %}
			</div>

			<a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid">
				<svg class="olymp-three-dots-icon">
					<use xlink:href="/media/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
				</svg>
			</a>
			{% else %}
			<h3>Nothing to see here yet! Go follow some designers!</h3>
			{% endif %}
</div>